*{
    margin:0;
    padding:0;
    overflow-x: hidden;
}
body, html{
    background-color: #FF9537;
    font-family: helvetica;
    width: 100%;
    height: 100%;
    color: #401414;
    position: center;
}

/*start of hero image and text*/
.hero-image{
    background-image: url("../ffbilder/Angelica%20Hvass%2010.jpg");
    background-color: brown;
    /*used if the hero image is unavailable*/
    width: 100%;
    height: auto;
    background-blend-mode: darken; 
    display: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right;
}
.hero-text{
    margin: 0%;
    padding: 0%;
    text-align: left;
    filter:contrast(50%)
    position: absolute;
    color: #FF9537;
    top: 45%;
    left: 45%;    
    transform: translate(10%, -5%);
}
/*end of hero-image and text*/

/*start of horizontal navigation bar*/
ul{
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A62D2D;
}
li{
    float: left;
    border-right: 1px solid #401414;
}
li a{
    display: block;
    color: #FF9537;
    text-align: center;
    padding: 10px 44.39px;
    text-decoration: none;
}
li a:hover{
    background-color: #401414;
}
li a{
    border-style: solid;
    border-width: 5px; 
    border-color: #401414;
}
@media screen and (max-width: 900px){
    ul.sidenav{
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a{
        float: left;
        padding: 20px;
    }
    div.content {margin-left: 5;}
}
@media screen and (max-width: 400px){
    ul.sidenav li a{
        text-align: center;
        float: none;
    }
}
/*end of horizontal navigation bar*/

a{
    color: #401414;
}

/*start of positioning of text*/
div.position{
    position: relative;
    text-align: center;
}
div.position-home{
    float: right;
    margin: 25px;
}
div.position-social{
    float: left;
    margin: 40px;
}
div.position-contact{
    float: left;
    margin: 30px;
}
/*end of positioning of text*/